<style>
    body {
        background-image: url("https://risibank.fr/cache/stickers/d1276/127649-full.png");
    }

    canvas, p {
        background-color: white;
    }
    
</style>

<p>
    Pseudo: <%= user.username %><br/>
    <% if(currentHour) { %>
      Il est <% currentHour %> heure
    <% } %>
</p>

<table>
    <thead>
        <tr>
            <th colspan="2">Les prix de vos navets</th>
        </tr>
    </thead>
    <tbody>
        <% user.stonks.forEach(function(stonk) { %>
        <% if(stonk.price !== "undefined") { %>
        <tr>
            <td><%= stonk.timeslot %></td>
            <td><%= stonk.price %></td>
        </tr>
        <% } %>
        <% }); %>
    </tbody>
</table>

<div id="app">
    <canvas id="myChart" width="400" height="400"></canvas>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>

<script>

var stonks = JSON.parse('<%- JSON.stringify(user.stonks) %>');
var labels = stonks.map(x => x.timeslot);
var prices = stonks.map(x => parseInt(x.price));

var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
  type: "line",
  data: {
    labels: labels,
    datasets: [
      {
        label: ["Evolution du prix des navets"],
        data: prices,
        backgroundColor: [
          "rgba(255, 99, 132, 0.2)",
          "rgba(54, 162, 235, 0.2)",
          "rgba(255, 206, 86, 0.2)",
          "rgba(75, 192, 192, 0.2)",
          "rgba(153, 102, 255, 0.2)",
          "rgba(255, 159, 64, 0.2)"
        ],
        borderColor: "rgba(255,99,132,1)",
        borderWidth: 1
      }
    ]
  },
  options: {
    maintainAspectRatio: false,
    scales: {
      xAxes: [
        {
          type: "category",
          labels: labels,
          gridLines: {
            display: false
          }
          // barThickness: 10
        }
      ],
      yAxes: [
        {
          gridLines: {
            // drawTicks: false
          }
        }
      ]
    }
  }
});

</script>

<% if (currentTimeslot !== "sunday") { %>
    <% if(!spectateMode) { %>
    <p>Ajouter/modifier une valeur (pour <%= currentTimeslot %>)</p>
    <form action="/stonks" method="post">
        <div>
        <label>Cours du navet:</label>
        <input type="number" name="turntipPrice"/>
        </div>
        <div>
        <input type="submit" value="Ajouter/Modifier"/>
        </div>
    </form>
    <% } %>
<% } else { %>
<p>On est dimanche, pas possible d'ajouter de valeur aujourd'hui ;-; </p>
<% } %>

<% if(!spectateMode) { %>
<form action="/stonks/reset" method="get"> 
    <button type="submit">Supprimer les valeurs</button>
</form>
<a href="/logout">Deconnexion</a>
<% } else { %>
<a href="/stonks">Revenir sur tes STONKS</a>
<% } %>
<br><br><br>
<img src="https://pbs.twimg.com/media/EUT4ZTWVAAA7S9V?format=jpg&name=large" />
<img src="https://pbs.twimg.com/media/EUT4aS1UEAAz73u?format=jpg&name=medium" />
